<form action="/uploadpicture" method="POST" enctype="multipart/form-data">
    <input type="file" name="picture" accept="application/x-zip-compressed,image/*">
    <input class="form-control" type="text" name="description" placeholder="Description or Message">
    <input class="btn btn-primary" type="submit" value="submit">
</form>